<!DOCTYPE html>
<html>
<head lang="en">
  <meta name="viewport" content="width=device-width initial-scale=1.0" charset="UTF-8">
  <title>Computer Science Research and Development Center Nepal.</title>
</head>
<body>
  @imports()
  @header()

    <div id="content">
      <div id="colOne">
        <h2>What is Machine Learning ?</h2>
        <p><small>June 24th, 2016  by XYZ</small></p>
        <p><em><strong>Machine Learning</strong></em> is a method of data analysis that automates analytical model building. Using algorithms that iteratively learn from data, machine learning allows computers to find hidden insights without being explicitly programmed where to look. </p>
        <p>The iterative aspect of machine learning is important because as models are exposed to new data, they are able to independently adapt. They learn from previous computations to produce reliable, repeatable decisions and results. It’s a science that’s not new – but one that’s gaining fresh momentum.</p>
        <p>Because of new computing technologies, machine learning today is not like machine learning of the past. While many machine learning algorithms have been around for a long time, the ability to automatically apply complex mathematical calculations to big data – over and over, faster and faster – is a recent development.</p>

        <p>Posted in <a href="#">CSRDC Nepal</a> | <a href="#">1 Comment &raquo;</a></p>
        <p>&nbsp;</p>
        <h2>What is Data Science ?</h2>
        <p><small>June 24th, 2016  by XYZ </small></p>
        <p>There is significant and growing demand for data-savvy professionals in businesses, public agencies, and nonprofits. The supply of professionals who can work effectively with data at scale is limited, and is reflected by rapidly rising salaries for data engineers, data scientists, statisticians, and data analysts. </p>
        <p>A recent study by the McKinsey Global Institute concludes, "a shortage of the analytical and managerial talent necessary to make the most of Big Data is a significant and pressing challenge (for the U.S.)." The report estimates that there will be four to five million jobs in the U.S. requiring data analysis skills by 2018, and that large numbers of positions will only be filled through training or retraining. The authors also project a need for 1.5 million more managers and analysts with deep analytical and technical skills "who can ask the right questions and consume the results of analysis of big data effectively."</p>
        <p>Posted in <a href="#">CSRDC Nepal</a> | <a href="#">23 Comment &raquo;</a></p>
      </div>
      <div id="colTwo">
        <ul>
          <li>
            <form method="get" action="#">
              <div>
                <fieldset>
                  <input id="search" type="text" name="search" placeholder="Search"  style = "background-color : #FAFAFA"/>
                </fieldset>
              </div>
            </form>
          </li>
          <li>
            <h2>Recent Posts</h2>
            <ul style="list-style-type:disc">
              <li><a href="#">What is Machine Learning?</a></li>
              <li><a href="#">What is Data Science ?</a></li>
            </ul>
          </li>
          <li>
            <h2>Archives</h2>
            <ul style="list-style-type:disc">
              <li><a href="#">June 2016</a></li>
              <li><a href="#">May 2016</a></li>
              <li><a href="#">April 2016</a></li>
              <li><a href="#">March 2016</a></li>
              <li><a href="#">February 2016</a></li>
              <li><a href="#">January 2016</a></li>
            </ul>
          </li>
          <li>
            <h2>Categories</h2>
            <ul style="list-style-type:disc">
              <li><a href="#">Machine Learning</a></li>
              <li><a href="#">Data Science</a></li>
              <li><a href="#">Big Data Analystics</a></li>
              <li><a href="#">Functional Programming</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div style="clear: both;">&nbsp;</div>
    </div>

  @footer()
</body>
</html>