<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="career" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="section-title">Careers</h1>
        </div> <!-- /.col-md-12 -->
      </div> <!-- /.row -->
      <style type="text/css">
      .left{
        text-align: left;
      }
      </style>

      <div class="row mt" style="margin-left:0px;margin-right:0px;">
        <div class="clearfix"></div>
        <div class="page-header">

          <h1> Graphics Designer &nbsp;<span class="label label-default" style="font-size:small;"> 1</span></h1>
          </br>
          <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><strong>Key Skills</strong></div>
                <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">First class visual communications skills.</li>
                <li class="list-group-item">Able to tailor designs to meet the needs of the customer.</li>
                <li class="list-group-item">Exceptional understanding of colours, style of type, illustrations, photography and animation.</li>
                <li class="list-group-item">Exceptional conceptual, graphic design and layout skills.</li>
                <li class="list-group-item">Good understanding of latest digital marketing trends.</li>
              </ul>
            </div>

          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><strong>Areas of Expertise.</strong></div>
                <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Designing Graphics</li>
                <li class="list-group-item">Leaflet Design</li>
                <li class="list-group-item">Brochure Design</li>
                <li class="list-group-item">Business Card Design</li>
              </ul>
            </div>

          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><strong>Job Description</strong></div>
                <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Designing and creating a wide variety of graphic art and promotional material.</li>
                <li class="list-group-item">Creating integrated design projects.</li>
                <li class="list-group-item">Explaining design concepts and ideas to clients and colleagues.</li>
                <li class="list-group-item">Providing graphical support for Blogs, websites and social media.</li>
              </ul>
            </div>

          </div>

        </div>

      </div>



      <div class="clearfix"></div>
      <div class="alert alert-info">
        			Send your CV and cover letter to us at info&#64csrdcnepal.us.<br>
                      * Working: Part Time / Full Time <br>
                      * Salary : No bar for deserving candidate. <br>
                      * Education: Bachelor level running
	</div>
      <div class="well">
        <ul class="list-inline">
          <strong>What to include in you resume?</strong><br>
          <li>Github / bitbucket / stackoverflow urls of your previously done projects (if you have) and your past experiences.</li>
        </ul>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /#career -->
</body>
</html>