<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <span id="copyright">
            <br>
              &copy;2016 www.csrdcnepal.us | All rights reserved.
          </span>

        </div> <!-- /.col-md-6 -->
        <div class="col-md-4 col-sm-6">
          <span id="csrdc" style = "text-align : center">
                             CSRDC Nepal <br>
                  Shankhamul - 34, Kathmandu, Nepal<br>
                    Contact: +9779851217037, +9779841581398
          </span>

        </div>
        <div class="col-md-4 col-sm-6">
          <ul class="social">
            <br>
            <li>Follow us:</li>
            <li></li>
            <li><a href="https://www.facebook.com/csrdcnepal.us/" class="fa fa-facebook"></a></li>
            <li><a href="https://twitter.com/csrdcnepal" class="fa fa-twitter"></a></li>
            <li><a href="https://np.linkedin.com/in/csrdc-nepal-a76795123" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.github.com/csrdcnepal" class="fa fa-github"></a></li>
          </ul>
        </div> <!-- /.col-md-6 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.site-footer -->
</body>
</html>