<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div id="front">
      <div class="site-header">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div id="logo">
                <a href="@routes.Application.index#front">
                <img src="assets/images/services/logo.png" width = "55px", height = "55px" ></a>
              </div> <!-- /.logo -->
            </div> <!-- /.col-md-4 -->
            <div class="col-md-8 col-sm-6 col-xs-6">
              <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
              <div class="main-menu">
                <ul>
                  <li><a href="@routes.Application.index#front">Home</a></li>
                  <li><a href="@routes.Application.index#services">Services</a></li>
                  <li><a href="@routes.Application.index#career">Careers</a></li>
                  <!--<li><a href="@routes.Application.blog">Blog</a></li>-->
                  <li><a href="@routes.Application.index#about">About</a></li>
                  <li><a href="@routes.Application.index#contact">Contact</a></li>
                </ul>
              </div><!-- /.main-menu -->
            </div> <!-- /.col-md-8 -->
          </div> <!-- /.row -->
          <div class="row">
            <div class="col-md-12">
              <div class="responsive">
                <div class="main-menu">
                  <ul>
                    <li><a href="@routes.Application.index#front">Home</a></li>
                    <li><a href="@routes.Application.index#services">Services</a></li>
                    <li><a href="@routes.Application.index#career">Careers</a></li>
                    <!--<li><a href="@routes.Application.blog">Blog</a></li>-->
                    <li><a href="@routes.Application.index#about">About</a></li>
                    <li><a href="@routes.Application.index#contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.container -->
      </div> <!-- /.site-header -->
    </div>
      
  </body>
</html>