<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="bx">
    <img src="assets/images/services/slider.gif" style="margin-top:81px">
</div>
  <div id="services" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="section-title">Our Services</h1>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span><img src="assets/images/services/data.png" width="200px", height="200px"></span>
              <h3>Data Science </h3>
              <p>We maintain the data repositories and databases required to improve business
                and research by applying data mining and visualization techniques.</p>
            </div> <!-- /.service-item -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span><img src="assets/images/services/bigdata.png" width="200px", height="200px"></span>
              <h3>Big Data Analytics</h3>
              <p>We provide the solutions and ideas, how the voluminous big data can be useful to improve your business
                and research using the big data technologies and tools like Hadoop and Apache Spark.</p>
            </div> <!-- /.service-item -->
          </div> <!-- /.col-md-3 -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span><img src="assets/images/services/ml.png" width="200px", height="200px"></span>
              <h3>Machine Learning</h3>
              <p>We implement machine learning algorithms to develop data processing pipeline.
                We process voluminous data in parallel distributed neural networks.</p>
            </div> <!-- /.service-item -->
          </div> <!-- /.col-md-3 -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span><img src="assets/images/services/software.jpg" width="200px", height="200px"></span>
              <h3>Software Development</h3>
              <p>We build reactive web applications, responsive mobile applications and cloud based software.</p>
            </div> <!-- /.service-item -->
          </div> <!-- /.col-md-3 -->
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /#services -->
</body>
</html>